* {
    box-sizing: border-box;
}

body {
    font-family: "Open sans", sans-serif;
    color: black;
    text-align: center;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    background-color: rgb(235, 235, 235);
}

nav {
    background-color: rgb(25, 70, 21);
    color: white; 
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

nav div {
    margin: 0px 10px;
    max-width: 100px;
}

.name {
    text-align: left;
}

.hamburger {
    margin: 0px 20px;
}
nav, footer {
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 0;
    width: 100%;
}

footer {
    background-color: grey;
}

header {
    padding: 10% 0;
    border: 1px solid black;
    min-width: 250px;
    margin: 10px 0px 10px;
}

section {
    min-height: 100px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 300px;
    margin-bottom: 10px;
    background-color: rgb(202, 202, 202);
    padding: 7px;
}